
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_career">
            <div class="navy-line"></div>
            <h1><span data-i18n="career.my_career">Certification</span></h1>
        </div>
    </div><div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="vote-item">
                <div class="row">
                    <div class="col-md-10">
                        <div class="vote-actions">
                        </div>
                          <h4>2017.September</h4><h2><span>ISTQB CTFL</span></h2>
                        <div class="vote-info">
                          <h4><span>International Software Testing Qualification Board</span></h4>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="vote-icon">
                            {% if post.icon %}<i class="fa {{ post.icon }}"> </i>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="vote-item">
                <div class="row">
                    <div class="col-md-10">
                        <div class="vote-actions">
                        </div>
                          <h4>2012.November</h4><h2><span>정보처리기사</span></h2>
                        <div class="vote-info">
                          <h4><span>한국산업인력공단</span></h4>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="vote-icon">
                            {% if post.icon %}<i class="fa {{ post.icon }}"> </i>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="vote-item">
                <div class="row">
                    <div class="col-md-10">
                        <div class="vote-actions">
                        </div>
                          <h2><span>Oracle 11g Master</span></h2>
                        <div class="vote-info">
                          <h4><span>test</span></h4>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="vote-icon">
                            {% if post.icon %}<i class="fa {{ post.icon }}"> </i>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">My Skills</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="wow zoomIn col-lg-6 col-lg-offset-3">
            <canvas id="{{ site.data.index.skills.id }}" height="500" width="500"></canvas>
        </div>
        <div class="col-lg-1"></div>
        <script>
        var ctx = document.getElementById("{{ site.data.index.skills.id }}");
        var data = {
            labels: "{{ site.data.index.skills.aspects }}".split(","),
            datasets: [{
                label: "{{ site.data.index.skills.label }}",
                backgroundColor: "rgba(179,181,198,0.2)",
                borderColor: "#3385FF",
                pointBackgroundColor: "#3385FF",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#3385FF",
                pointHoverBorderColor: "#3385FF",
                data: [{{ site.data.index.skills.percentage }}]
                }]
        };
        var myRadarChart = new Chart(ctx, {
            type: 'radar',
            data: data,
            options: {
                scale: {
                    responsive: true,
                    ticks: {min: 0, max: 100},
                    lineArc: false,
                    pointLabels: {fontSize: 14},
                },
                legend: {display: false},
            }
        });
        </script>
    </div>
</div>
